.container
{
  margin: 0 auto;
  width:  720px;
}

header
{
  background-color: black;
}

#logo
{
  display: block;
  margin:  0 auto;
  height:  80px;
}

.content
{
    text-align:   justify;
    text-justify: inter-word;
}

nav
{
  margin: 30px auto;
  text-align: center;
}

nav a
{
  font-size: 20px;
  text-decoration: none;
  color: black;
  text-align: center;
  /*background-color: lightgrey;*/
  background: -webkit-linear-gradient(white 5%, lightgrey);

  padding: 12px 25px 12px 25px;
}

#a1
{
  border-radius: 7px 0px 0px 7px;
}
#a5
{
  border-radius: 0px 7px 7px 0px;
}